<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand nohover"><span class="glyphicon glyphicon-globe"></span></a>
      <a class="navbar-brand" href="{% url 'home' %}">Zakop.pl</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'lounge' %}">Zakopalisko</a></li>
        <li><a href="{% url 'create_post' %}">Add post</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><a href="{% url 'profile' slug=user.username %}">{{ user.username|capfirst }}</a></li>
            <li><a href="{% url 'logout' %}">Wyloguj się</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">Zaloguj się</a></li>
            <li><a href="/accounts/register/">Zarejestruj się</a></li>
          {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>